#formbtn{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 4%
}
#validbtn, #cancelbtn{
  width: 100%;
  padding-bottom: 2%;
}
#validbtn{
  --background: #ff8228;
}
#cancelbtn{
  --background: white;
  --color:black;
}
ion-title{
  text-align: center;
}
ion-checkbox{
  --checkbox-background-checked: #ff8228;
  --size: 24px
}

ion-checkbox::part(container){
  border: 1px solid #ff8228;
}
