<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ isEditable ? ('TASKS.EditTask' | translate) : ('TASKS.AddTask' | translate) }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-theme">
  <form #taskForm="ngForm">
    <ion-list lines="none">
      <ion-item>
        <ion-input [label]="('TASKS.NoteTitle' | translate)+'*'" [(ngModel)]="cardEdited.name" labelPlacement="fixed"
                   [clearInput]="true" [counter]="true" [maxlength]="30"
                   [placeholder]="('TASKS.NoteTitlePlaceholder' | translate)" name="taskName"
                   [required]="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea class="textarea-description" label="Description*" [(ngModel)]="cardEdited.description" labelPlacement="fixed" [autoGrow]="true"
                      [placeholder]="('TASKS.DescriptionPlaceholder' | translate)" [counter]="true"
                      [maxlength]="300" name="taskDescription" [required]="true"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'TASKS.Subject' | translate }}*</ion-label>
        <ion-select [placeholder]="('TASKS.SubjectPlaceholder' | translate)" interface="popover"
                    [(ngModel)]="cardEdited.tag" name="taskSubject" [required]="true">
          <ion-select-option *ngFor="let tag of tags">
            {{ tag.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'TASKS.Status' | translate }}*</ion-label>
        <ion-select (ionChange)="onChangeStatus($event)" interface="popover" [(ngModel)]="cardEdited.status" name="taskStatus"
                    [required]="true">
          <ion-select-option *ngFor="let status of statusValues" [value]="status"
                             [disabled]="status === 'Late'">
            {{ getStatus(status) }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'TASKS.Deadline' | translate }}*</ion-label>
        <ion-datetime-button datetime="datetime" [disabled]="noDeadLineVisibility"></ion-datetime-button>

        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="datetime" [disabled]="noDeadLineVisibility" [locale]="getCurrentLang"
                          [(ngModel)]="cardEdited.deadline"
                          [min]="minDeadline" name="taskDeadline" [required]="true"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>

      <ion-item>
        <ion-checkbox [(ngModel)]="cardEdited.important" name="taskImportant">
          <ion-label>Important</ion-label>
        </ion-checkbox>
      </ion-item>
    </ion-list>

    <div id="formbtn">
      <ion-button id="validbtn" slot="end" (click)="valid(taskForm)" [disabled]="!taskForm.valid" [strong]="true">
        {{ 'GENERAL.SaveButton' | translate }}
      </ion-button>
      <ion-button id="cancelbtn" slot="end" (click)="closePopUp()">
        {{ 'GENERAL.CancelButton' | translate }}
      </ion-button>
    </div>
  </form>

</ion-content>
