<ion-content class="auth-container">
  <ion-card class="auth-content">
    <ion-card-header>
      <ion-card-title>{{ 'LOGIN.Login' | translate}}</ion-card-title>
        <ion-card-subtitle>{{'LOGIN.NoAccount' | translate}}
          <ion-button class="changeMethodBtn" fill="clear" [routerLink]="['/signup']">{{'SIGNUP.CreateAnAccountTitle' | translate}} →</ion-button>
        </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <form #loginForm="ngForm">
      <ion-item lines="none" class="inputElement">
        <ion-icon slot="start" name="mail-outline"></ion-icon>
        <div class="warning-input-container">
        <ion-input type="email" labelPlacement="stacked" label="Email" name="email" placeholder="{{'SIGNUP.EmailPH' | translate}}"
                   [(ngModel)]="currentUser.email" [required]="true"></ion-input>
        <ion-label *ngIf="!isValidEmail(currentUser.email) && !(currentUser.email.length === 0)">
          {{ 'SIGNUP.Email-WarningMessage' | translate }}
        </ion-label>
        </div>
      </ion-item>
      <ion-item lines="none" class="inputElement">
        <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
      <ion-input type="password" labelPlacement="stacked" label="{{'SIGNUP.Password' | translate}}" placeholder="{{'SIGNUP.PasswordPH' | translate}}" name="password" [(ngModel)]="currentUser.password" [required]="true">
        <ion-input-password-toggle slot="end" color="medium"></ion-input-password-toggle>
      </ion-input>
      </ion-item>
      <ion-button id="validbtn"  expand="block" class="validBtn" (click)="valid(loginForm)"
                  [disabled]="!loginForm.valid || !(isValidEmail(currentUser.email))" [strong]="true">{{ 'LOGIN.Login' | translate}}
      </ion-button>

        <ion-item lines="none" class="auth-category">
          <ion-button color="dark" *ngIf="isIos" (click)="loginWithApple()">
            <ion-icon slot="start" name="logo-apple"></ion-icon>
            {{ 'LOGIN.Apple' |translate }}
          </ion-button>
          <ion-button class="google-btn" (click)="loginWithGoogle()">
            <ion-icon slot="start" name="logo-google"></ion-icon>
            {{ 'LOGIN.Google' |translate }}
          </ion-button>
        </ion-item>

      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
