<ion-list lines="none" class="element-list">
  <ion-item-sliding>
    <ion-item class="element-item">
<ion-card>
  <ion-card-content>
    <ion-label>{{this.tag.name}}</ion-label>
  </ion-card-content>
</ion-card>
    </ion-item>
    <ion-item-options side="end" (ionSwipe)="onSwipe()">
      <ion-item-option class="option-edit" color="primary" (click)="openEditMode(tag)">
        {{'GENERAL.EditButton' | translate}}
      </ion-item-option>
      <ion-item-option class="option-delete" color="danger" [expandable]="true" (click)="presentAlert()">
        {{'GENERAL.DeleteButton' | translate}}
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
