ion-card-content{
  display: flex;
  align-items: center;
  flex-direction: row;
}
ion-card{
  margin:10px;
  border-radius: 4%;
  box-shadow: 0 4px 12px rgba(0,0,0,0.12);
  width: 100%;
}
ion-button{
  color: #424242;
}
ion-item{
}
ion-item-sliding{
}
ion-list{
  padding: 0;
}

ion-item-option{
  font-size: 13px;
}

.option-delete{
  margin-right: 24px;
  height: 47px;
  line-height: 47px;
}
.option-edit{
  height: 39px;
  line-height: 39px;
  margin-right: 4px;
}

