<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <div class="searchContainer">

    <div class="filterBar">
      <ion-searchbar (ionInput)="eventInput($event)" [animated]="true" [debounce]="200"
                     placeholder="{{'HOME.SearchBar' |translate}}"></ion-searchbar>
      <ion-button fill="clear" class="filterBtn" id="click-trigger">
        <ion-icon name="filter-outline"></ion-icon>
      </ion-button>
      <ion-popover trigger="click-trigger" triggerAction="click">
        <ng-template>
          <ion-content class="ion-padding">
            <ion-list>
              <div class="filterTitle">
              <ion-label>{{ 'FILTER.Title' | translate }}</ion-label>
              </div>
              <ion-item-group>
                <ion-item-divider>
                  <ion-label>{{ 'FILTER.Subjects' | translate }}</ion-label>
                </ion-item-divider>
                <ion-item *ngFor="let subject of subjects$ | async" lines="none">
                  <ion-checkbox (ionChange)="onFilterSubjectsChanged(subject.name,$event)"
                                [checked]="getTagValue(subject.name)">{{ subject.name }}
                  </ion-checkbox>
                </ion-item>
              </ion-item-group>
              <ion-item-group>
                <ion-item-divider>
                  <ion-label>{{ 'FILTER.Date' | translate }}</ion-label>
                </ion-item-divider>
                <ion-radio-group name="dateFilter" [(ngModel)]="filter.date" (ionChange)="onFilterDateChanged()">
                  <ion-item>
                    <ion-label>{{ 'FILTER.None' | translate }}</ion-label>
                    <ion-radio [value]="null"></ion-radio>
                  </ion-item>

                  <ion-item *ngFor="let date of allFilterDate">
                    <ion-label>{{ getDateValueString(date) }}</ion-label>
                    <ion-radio slot="end" [value]="date"></ion-radio>
                  </ion-item>

                  <ion-item lines="none">
                    <ion-label>{{ 'FILTER.CustomDate' | translate }}</ion-label>
                    <ion-radio slot="end" [value]="FilterDateEnum.CustomDate"></ion-radio>
                  </ion-item>

                  <ion-item [disabled]="filter.date !== FilterDateEnum.CustomDate">
                    <ngxsmk-datepicker [(ngModel)]="filter.customDate" (valueChange)="onCustomDateChanged($event)"
                                       mode="range" [use24Hour]="getCurrentLang === 'fr'" [locale]="getCurrentLang"
                                       [showTime]="true" [value]="filter.customDate" [showCalendarButton]="true"
                                       placeholder="{{'FILTER.SelectDate' | translate}}">
                    </ngxsmk-datepicker>
                  </ion-item>
                </ion-radio-group>
              </ion-item-group>
              <ion-item-group>
                <ion-item-divider>
                  <ion-label>{{ 'FILTER.Priority' | translate }}</ion-label>
                </ion-item-divider>
                <ion-item lines="none">
                  <ion-checkbox (ionChange)="onFilterImportantChanged()" [(ngModel)]="filter.important"
                                name="taskImportant">Important
                  </ion-checkbox>
                </ion-item>
              </ion-item-group>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
    </div>

    <app-notes-tab (filterChanged)="onFilterChanged($event)"></app-notes-tab>
  </div>

  <div *ngFor="let card of results$ | async">
    <app-notecard [card]="card">
    </app-notecard>
  </div>

  <div class="emptyData" *ngIf="!hasResultData && !query">
    <ion-label>{{ 'HOME.EmptyData' | translate }}</ion-label>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openPopup()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
