<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <div class="searchContainer">
    <ion-searchbar (ionInput)="eventInput($event)" [animated]="true" [debounce]="200" placeholder="{{'HOME.SearchBar' |translate}}"></ion-searchbar>
    <app-notes-tab (filterChanged)="onFilterChanged($event)"></app-notes-tab>
  </div>

  <div *ngFor="let card of results | async">
    <app-notecard [card]="card">
    </app-notecard>
  </div>

  <div class="emptyData" *ngIf="!hasResultData && !query">
  <ion-label>{{'HOME.EmptyData' | translate}}</ion-label>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openPopup()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
