ion-segment{
  //width: max-content;
  //display: inline-flex;
}

ion-segment-button{
  min-width: 115px;
  --color-checked: #000;
  --indicator-color: #ff8228;
  justify-content: center;
}

.segment-item{
  display: flex;
  flex-direction: row;
}

ion-label{
  --ion-text-color: #000;
  font-size: 14px;
  font-weight: 600;
  text-transform: none;
}
ion-badge{
  margin: -9px;
  margin-left: 0.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18px;
  min-width: 18px;
  border-radius: 50%;
  aspect-ratio: 1 / 1; //ARRONDI A LA PERFECTION de facon ovale
}
