ion-button{
  --color: #717070;
}
ion-title{
  font-weight: bold;
  --color:black;
}

ion-label{
  padding-bottom: 1%;
}
#datelabel{
  display: flex;
  flex-direction: row;
  justify-content: end;
  font-size: 12px;
}
#important{
  color: #ff8228;
  align-items: end;
  font-size: 24px;
}
.card-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#deadline{
  display: flex;
  flex-direction: column;
}
#deadline-items{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2%;
}

#deadline-items ion-icon{
  font-size: 20px;
  height: 20px;
  display: flex;
  align-items: center;
}

#deadline-items ion-label{
  line-height: 1;
  display: flex;
  align-items: center;
}

ion-badge{
  font-size: 12px;
  display: flex;
  width: min-content;
  margin-bottom: 3%;
  --color: #fdfdfd;
}

#tag{
  font-size: 13px;
  background-color: #ff8228;
  --color: #fdfdfd;
  font-weight: bold;
  width: min-content;
  display: inline-block;
  border-radius: 4px;
  padding: 0.85%;
}

@media screen and (min-width: 601px) {
  #tag{
    padding: 0.35%;
  }
}



ion-card-content{
 // margin-left: 1.2%;
  display: flex;
  flex-direction: column;
}
#cardbtn{
  display: flex;
  flex-direction: row;
  justify-content: end;
}

ion-card{
  width: 100%;
  border-radius: 4%;
  box-shadow: 0 -2 20px rgba(0,0,0,0.15);
  margin: 10px;
}

ion-list {
 // border: 1px solid black;
  padding: 0;
}

.option-delete{
  margin-right: 24px;
  height: 60px;
  line-height: 60px;
}
.option-edit{
  height: 52px;
  line-height: 52px;
  margin-right: 4px;
}
