.cardName{
  font-weight: bold;
  font-size: 18px;
}
ion-label{
  padding-bottom: 1%;
}

//Créee le ....
#datelabel{
  display: flex;
  flex-direction: row;
  justify-content: end;
  font-size: 12px;
}
// Petit badge important
#important{
  color: #ff8228;
  align-items: end;
  font-size: 24px;
}
// Header
.card-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
 // border: 1px solid black;
}
//Badge deadline
.deadLine {
  display: flex;
  align-items: center;
  gap: 6px;
  background: #e3f0ff;       // bleu très clair
  color: #5b6e80;            // gris bleuté
}
.deadLine ion-icon{
}

//Badge au niveau du titre
.badge-title{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

//Badge contenu
.badge-content{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 8px;
  margin: 12px 0 6px 0;
}
// Badge global
ion-badge{
  width: min-content;
  padding: 10px;
  border-radius: 9999px;
  --color: #fdfdfd;
}

ion-card{
  width: 100%;
  border-radius: 4%;
  box-shadow: 0 -2 8px rgba(0,0,0,0.1);
  margin: 10px;
}

ion-list {
 // border: 1px solid black;
  padding: 0;
}

.option-delete{
  margin-right: 24px;
  height: 60px;
  line-height: 60px;
}
.option-edit{
  height: 52px;
  line-height: 52px;
  margin-right: 4px;
}
