<ion-list lines="none">
  <ion-item-sliding>
    <ion-item>

      <ion-card>
        <ion-card-header class="card-header">

          <ion-card-title class="badge-title">
            <ion-badge [ngStyle]="{'background-color': getStatusColor(card.status)}">{{ card.tag }}</ion-badge>
            <ion-label class="cardName">{{ card.name }}</ion-label>
          </ion-card-title>

          <ion-icon name="alert-circle-outline" id="important" *ngIf="card.important"></ion-icon>
        </ion-card-header>

        <ion-card-content>

          <ion-label>{{ card.description }}</ion-label>

          <div class="badge-content">
          <ion-badge class="status-badge" [ngStyle]="{'background-color': getStatusColor(card.status)}">{{ getStatus(card.status) }}</ion-badge>
          <ion-badge class="deadLine"><ion-icon name="calendar-outline"></ion-icon>{{ deadLineStr }}</ion-badge>
          </div>

          <ion-label id="datelabel">{{'TASKS.Date' | translate}} {{ this.dateCard }}</ion-label>

        </ion-card-content>
      </ion-card>
    </ion-item>

    <ion-item-options side="end" (ionSwipe)="onSwipe()">
      <ion-item-option class="option-edit" color="primary" [expandable]="true" (click)="openPopupEditCard(card)">
        {{'GENERAL.EditButton' | translate}}
      </ion-item-option>
      <ion-item-option class="option-delete" color="danger" [expandable]="true" (click)="presentAlert()">
        {{'GENERAL.DeleteButton' | translate}}
      </ion-item-option>
    </ion-item-options>

  </ion-item-sliding>
</ion-list>
