<ion-tabs>
  <ion-tab-bar class="custom-tab-bar" slot="bottom">
    <ion-tab-button tab="notes" href="/tabs/notes">
      <ion-icon aria-hidden="true" name="book"></ion-icon>
      <ion-label>Notes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tags" href="/tabs/tags">
      <ion-icon aria-hidden="true" name="pricetags"></ion-icon>
      <ion-label>Tags</ion-label>
    </ion-tab-button>

    <ion-tab-button id="separator-tab-bar">
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon aria-hidden="true" name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon aria-hidden="true" name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

  <div class="center-btn">
    <ion-button id="addbtn" size="large" shape="round" slot="end" (click)="openPopup()">
      <ion-icon name="add-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </div>

</ion-tabs>
