<ion-content class="auth-container">
  <ion-card class="auth-content">
    <ion-card-header>
      <ion-card-title>{{'SIGNUP.Username' | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form #usernameForm="ngForm">
        <ion-item lines="none" class="inputElement">
          <ion-icon slot="start" name="person-outline"></ion-icon>
          <div class="warning-input-container">
          <ion-input type="text" labelPlacement="stacked" label="{{'SIGNUP.Username' | translate}}" name="username"
                     placeholder="{{'SIGNUP.UsernamePH' | translate}}" [(ngModel)]="username" [required]="true"
                     [maxlength]="20" [counter]="true"
                     (ionInput)="checkUsername($event)" (ionBlur)="checkUsernameExists(username)"></ion-input>
          <ion-label *ngIf="!isValidUsername(username) && !(username.length === 0)">
            {{'SIGNUP.Username-WarningMessage' | translate}}</ion-label>
            <ion-label *ngIf="usernameExists">
              {{'SIGNUP.UsernameExists' | translate}}</ion-label>
          </div>
        </ion-item>
        <ion-button class="validBtn" [disabled]="!usernameForm.valid || !isValidForm()"
                    [strong]="true" (click)="submitUsername(usernameForm)">{{ 'GENERAL.SaveButton' | translate }}
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
