<ion-header class="settings-theme-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Notes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="settings-theme-content">
  <ion-list lines="none">
    <h3>
      Data
    </h3>
    <ion-item [button]="true" [detail]="false" (click)="deleteAllCards()">Delete all notes</ion-item>
    <ion-label class="StateText" *ngIf="hasCards !== undefined">{{hasCards ? 'All notes deleted' : 'No notes deleted'}}</ion-label>
  </ion-list>
</ion-content>
