<ion-item lines="none">
  <div class="icon-container">
    <ion-icon [name]="icon"></ion-icon>
  </div>

  <div class="information-container">
    <ion-label class="information-label-stacked">{{ title }}</ion-label>
    <ion-label class="information-label" *ngIf="!isEditing">{{ loadValue() ?? value }}</ion-label>

    <ion-datetime-button *ngIf="fieldKey === 'dateofbirthday' && isEditing" datetime="date"></ion-datetime-button>

    <ion-modal [keepContentsMounted]="true" *ngIf="fieldKey === 'dateofbirthday' && isEditing">
      <ng-template>
        <ion-datetime id="date"
                      presentation="date"
                      prefer-wheel="true"
                      min="1900-01-01"
                      max="2010-12-31"
                      [locale]="getCurrentLang()" [(ngModel)]="newValue">
        </ion-datetime>
      </ng-template>
    </ion-modal>

    <ion-input *ngIf=" fieldKey !== 'dateofbirthday' && isEditing" class="input-editelement" type="text"
               [(ngModel)]="newValue"></ion-input>
  </div>
  <ion-button *ngIf="isEditing" (click)="closeEditing()">OK</ion-button>
  <ion-button fill="clear" slot="end" (click)="startEditing()" *ngIf="!isEditing">
    <ion-icon name="create-outline"></ion-icon>
  </ion-button>
</ion-item>
