<ion-content class="auth-container">
  <ion-card class="auth-content">
    <ion-card-header>
      <ion-card-title>{{ 'SIGNUP.CreateAnAccountTitle' | translate }}</ion-card-title>
      <ion-card-subtitle>{{ 'SIGNUP.HaveAccount' | translate }}
        <ion-button class="changeMethodBtn" fill="clear" [routerLink]="['/login']">{{ 'LOGIN.Login' | translate }} →
        </ion-button>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <form #signupForm="ngForm">
        <ion-item lines="none" class="inputElement">
          <ion-icon slot="start" name="mail-outline"></ion-icon>
          <div class="warning-input-container">
            <ion-input type="email" labelPlacement="stacked" label="Email" name="email"
                       placeholder="{{'SIGNUP.EmailPH' | translate}}"
                       [(ngModel)]="newUser.email" [required]="true"
                       (ionBlur)="checkEmailExists(newUser.email)"></ion-input>
            <ion-label *ngIf="!isValidEmail(newUser.email) && !(newUser.email.length === 0)">
              {{ 'SIGNUP.Email-WarningMessage' | translate }}
            </ion-label>
            <ion-label *ngIf="emailExists">
              {{ 'SIGNUP.EmailExists' | translate }}
            </ion-label>
          </div>
        </ion-item>
        <ion-item lines="none" class="inputElement">
          <ion-icon slot="start" name="person-outline"></ion-icon>
          <div class="warning-input-container">
            <ion-input type="text" labelPlacement="stacked" label="{{'SIGNUP.Username' | translate}}" name="username"
                       placeholder="{{'SIGNUP.UsernamePH' | translate}}" [(ngModel)]="newUser.username"
                       [required]="true"
                       [maxlength]="20" [counter]="true" (ionInput)="checkUsername($event)"
                       (ionBlur)="checkUsernameExists(newUser.username)"></ion-input>
            <ion-label *ngIf="!isValidUsername(newUser.username) && !(newUser.username.length === 0)">
              {{ 'SIGNUP.Username-WarningMessage' | translate }}
            </ion-label>
            <ion-label *ngIf="usernameExists">
              {{ 'SIGNUP.UsernameExists' | translate }}
            </ion-label>
          </div>
        </ion-item>
        <ion-item lines="none" class="inputElement">
          <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
          <div class="warning-input-container">
            <ion-input type="password" labelPlacement="stacked" label="{{'SIGNUP.Password' | translate}}"
                       placeholder="{{'SIGNUP.PasswordPH' | translate}}" name="password"
                       [(ngModel)]="newUser.password" [maxlength]="128" [required]="true">
              <ion-input-password-toggle slot="end" color="medium"></ion-input-password-toggle>
            </ion-input>
            <ion-label *ngIf="!isValidPassword(newUser.password) && !(newUser.password.length === 0)"
                       style="white-space: pre-line">
              {{ 'SIGNUP.Password-WarningMessage' | translate }}
            </ion-label>
          </div>
        </ion-item>
        <ion-item lines="none" class="inputElement">
          <ion-icon slot="start" name="gift-outline"></ion-icon>

          <ion-datetime-button datetime="signup-birthdate" name="birthdate"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime id="signup-birthdate"
                            presentation="date"
                            prefer-wheel="true"
                            min="1900-01-01"
                            max="2010-12-31" name="birthdate"
                            [(ngModel)]="newUser.dateOfBirthday"></ion-datetime>
            </ng-template>
          </ion-modal>

        </ion-item>
        <ion-button class="validBtn"
                    [disabled]="!signupForm.valid || !(isValidForm())"
                    [strong]="true" (click)="onSignup(signupForm)">{{ 'SIGNUP.SignUpBtn' | translate }}
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
