ion-segment{
  padding: 4px;
}
.segment-item{
  display: flex;
  flex-direction: row;
}
ion-segment-button{
  min-width: 115px;
  min-height: 45px;
  --color-checked: #000;
  --indicator-color: linear-gradient(135deg, #ff8228, #ffb347);
  justify-content: center;
  margin: 2px;
  transition: transform 120ms ease, box-shadow 120ms ease;
}

ion-segment-button.md::part(indicator-background) {
  height: 4px;
}
//.segment-button-checked::after{
//  content: "";
//  position: absolute;
//  bottom: -6px;
//  left: 50%;
//  transform: translateX(-50%);
//  width: 0;
//  height: 0;
//  border-left: 10px solid transparent;
//  border-right: 10px solid transparent;
//  border-top: 10px solid #ff8228;
//}

.segment-button-checked {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12);
}
.segment-button-checked.ios::part(native) {
  color: #fff;
}
.segment-button-checked .segment-item ion-label {
  font-size: 16px;
  transition: font-size .2s ease-in-out;
}

ion-label{
  --ion-text-color: #000;
  font-size: 14px;
  font-weight: 600;
  text-transform: none;
}
ion-badge{
  display: inline-flex;
  align-items: center;
  justify-content: center;

  margin: -10px;
  margin-left: 6px;

  height: 24px;
  min-width: 24px;

  font-size: 12px;
  border-radius: 50%; /* cercle parfait */
  padding: 0;

  transition: transform 0.15s ease, opacity 0.15s ease;
}

ion-segment-button:active ion-badge {
  transform: scale(0.95);
}
