.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.logo{
  display: flex;
  align-items: center;
  justify-content: center;
}
.subtitle{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
