<ion-content class="ion-padding" >
  <div class="container">

    <div class="logo">
      <img src="assets/icon/splash.png" alt="Logo" height="256" width="256">
    </div>

    <ion-label class="subtitle">
      Organise tes tâches scolaires simplement et efficacement
    </ion-label>


    <ul class="features">
      <li>📚 Planifie tes devoirs</li>
      <li>⏰ Ne rate plus aucune deadline</li>
      <li>📈 Suis ta progression</li>
    </ul>


    <ion-button expand="block" size="large" [routerLink]="'/tabs'">
      Commencer
    </ion-button>

  </div>


</ion-content>
