<ion-header>
  <ion-toolbar>
    <ion-title>{{'SUBJECTS.Title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngFor="let tag of tags$ | async">
    <app-tagcard [tag]="tag">
    </app-tagcard>
  </div>

  <div class="emptyData" *ngIf="hasEmptyTags">
    <ion-label>{{ 'SUBJECTS.EmptyData' | translate}}</ion-label>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openPopup()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
