ion-button{
  --background: #ff8228;
}
ion-title{
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}
ion-header{
  border-radius: 0 0 10% 10%;
}

ion-item{
  text-align: center;
  font-size: 16px;
  color: rgba(28, 28, 28, 0.55);
}

.emptyTags{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}
