<ion-header>
  <ion-toolbar>
    <ion-title>My Notes</ion-title>
  </ion-toolbar>
  <ion-searchbar (ionInput)="eventInput($event)"></ion-searchbar>
  <app-notes-tab (filterChanged)="onFilterChanged($event)"></app-notes-tab>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngFor="let card of results | async">
    <app-notecard [card]="card">
    </app-notecard>
  </div>

  <div class="emptyData" *ngIf="!hasResultData && !query">
  <ion-label>No tasks for the status at the moment.</ion-label>
  </div>

</ion-content>
