<ion-tabs>
  <ion-tab-bar class="custom-tab-bar" slot="bottom">
    <ion-tab-button tab="notes"  (click)="showAllNotes()">
      <ion-icon aria-hidden="true" name="document-text-outline"></ion-icon>
      <ion-label>{{ 'SETTINGS.Tasks' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tags">
      <ion-icon aria-hidden="true" name="book-outline"></ion-icon>
      <ion-label>{{ 'SETTINGS.Subjects' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon aria-hidden="true" name="people-outline"></ion-icon>
      <ion-label>{{ 'HOME.Groups' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>{{ 'HOME.Account' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="'/settings'">
      <ion-icon aria-hidden="true" name="settings"></ion-icon>
      <ion-label>{{ 'SETTINGS.SETTINGS' | translate }}</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
