<ion-content class="elements-content">
  <div class="spinner-container" *ngIf="isLoading">
  <ion-item lines="none" class="spinner-item">
    <ion-spinner name="circular"></ion-spinner>
  </ion-item>
  </div>

  <div class="profile-container" *ngIf="!isLoading">
    <ion-avatar>
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg"/>
    </ion-avatar>
    <div class="user-maininformation" *ngIf="user$ | async as profile">
      <ion-label class="username">{{ profile.username }}</ion-label>
      <ion-label class="email">{{ profile.email }}</ion-label>
    </div>

    <ion-list class="stats-list" lines="none">
      <ion-item class="stats-item" lines="none">
        <div class="stats-content">
          <ion-label class="stats-value">{{ cards }}</ion-label>
          <ion-label class="stats-title">{{ 'SETTINGS.Tasks' | translate }}</ion-label>
        </div>
      </ion-item>
      <ion-item class="stats-item" lines="none">
        <div class="stats-content">
          <ion-label class="stats-value">{{ tags }}</ion-label>
          <ion-label class="stats-title">{{ 'SETTINGS.Subjects' | translate }}</ion-label>
        </div>
      </ion-item>
      <ion-item class="stats-item" lines="none">
        <div class="stats-content">
          <ion-label class="stats-value">0</ion-label>
          <ion-label class="stats-title">{{ 'HOME.Groups' | translate }}</ion-label>
        </div>
      </ion-item>
    </ion-list>

    <ion-list lines="none" *ngIf="user$ | async as profile">
      <ion-list-header>{{ 'PROFILE.Information' | translate }}</ion-list-header>

      <div class="items-container">
        <app-information-card [value]="profile.username" [title]="'SIGNUP.Username' | translate" icon="person-outline"
                              (editingChange)="handleEditing($event)" [index]="1"
                              [activeIndex]="activeEditingIndex" fieldKey="username"
                              (editingSuccessfully)="loadProfileData()"></app-information-card>
        <app-information-card [value]="profile.email" title="Email" icon="mail-outline"
                              (editingChange)="handleEditing($event)" [index]="2"
                              [activeIndex]="activeEditingIndex" fieldKey="email"
                              (editingSuccessfully)="loadProfileData()"></app-information-card>
        <app-information-card [value]="profile.birthDate" [title]="'SIGNUP.DateBirthday' | translate" icon="calendar-outline"
                              (editingChange)="handleEditing($event)" [index]="3"
                              [activeIndex]="activeEditingIndex" fieldKey="dateofbirthday"
                              (editingSuccessfully)="loadProfileData()"></app-information-card>
      </div>
    </ion-list>

  </div>
</ion-content>
