<ion-content class="elements-content">
  <div class="profile-container">
    <ion-avatar>
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg"/>
    </ion-avatar>
    <div class="user-maininformation" *ngIf="user$ | async as profile">
      <ion-label class="username">{{ profile.username }}</ion-label>
      <ion-label class="email">{{ profile.email }}</ion-label>
    </div>

    <ion-list lines="none" *ngIf="user$ | async as profile">
      <ion-list-header>Mes Informations</ion-list-header>

      <div class="items-container">
      <ion-item lines="none">
        <div class="icon-container">
          <ion-icon name="person-outline"></ion-icon>
        </div>
        <div class="information-container">
          <ion-label class="information-label-stacked">Nom d'utilisateur</ion-label>
          <ion-label class="information-label">{{ profile.username }}</ion-label>
        </div>
        <ion-button fill="clear" slot="end">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item lines="none">
        <div class="icon-container">
          <ion-icon name="mail-outline"></ion-icon>
        </div>

        <div class="information-container">
          <ion-label class="information-label-stacked">Email</ion-label>
          <ion-label class="information-label">{{ profile.email }}</ion-label>
        </div>
        <ion-button fill="clear" slot="end">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item lines="none">
        <div class="icon-container">
          <ion-icon name="calendar-outline"></ion-icon>
        </div>

        <div class="information-container">
          <ion-label class="information-label-stacked">Date de naissance</ion-label>
          <ion-label class="information-label">{{ profile.birthDate }}</ion-label>
        </div>
        <ion-button fill="clear" slot="end">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
      </ion-item>
      </div>
    </ion-list>

  </div>
</ion-content>
