<ion-content class="elements-content">
<div class="profile-container">
    <ion-avatar>
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
  <div class="user-maininformation">
    <ion-label class="username">dylangvt_</ion-label>
    <ion-label class="email">gayvallet.dylan&#64;gmail.com</ion-label>
  </div>

  <ion-list lines="none">
    <ion-item lines="none">
      <ion-label>dylangvt_</ion-label>
      <ion-button fill="clear" slot="end">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item lines="none">
      <ion-label>gayvallet.dylan&#64;gmail.com</ion-label>
      <ion-button fill="clear" slot="end">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  </div>
</ion-content>
