<ion-header>
  <ion-toolbar>
    <ion-title>{{ editMode ? ('SUBJECTS.EditSubject' | translate) : ('SUBJECTS.AddSubject' | translate) }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-theme">

  <form #subjectForm="ngForm">
    <ion-list>
      <ion-item lines="none">
        <ion-input [label]="('SUBJECTS.SubjectName' | translate)+'*'" [(ngModel)]="tag.name" labelPlacement="fixed"
                   [placeholder]="('SUBJECTS.SubjectPlaceholder' | translate)" [clearInput]="true"
                   [counter]="true" [maxlength]="25" name="subjectName"
                   [errorText]="('SUBJECTS.SubjectNameErrorText' | translate)" [required]="true">
        </ion-input>
      </ion-item>
    </ion-list>

    <div class="formbtn">
      <ion-button id="validbtn" slot="end" (click)="valid(subjectForm)"
                  [disabled]="!subjectForm.valid" [strong]="true">
        {{ 'GENERAL.SaveButton' | translate }}
      </ion-button>
      <ion-button id="cancelbtn" slot="end" (click)="closePopUp()">
        {{ 'GENERAL.CancelButton' | translate }}
      </ion-button>
    </div>
  </form>

</ion-content>
