<ion-header class="settings-theme-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title [class.condensate]="isCondensate">Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="settings-theme-content" (ionScroll)="onScroll($event)" [scrollEvents]="true">
<ion-list lines="none">
  <ion-item>
    <h3>Data</h3>
  </ion-item>
  <ion-item [button]="true" [detail]="false" [routerLink]="'data-notes'">
    <ion-label>Notes</ion-label>
    <ion-icon color="medium" name="chevron-forward"></ion-icon>
  </ion-item>
  <ion-item [button]="true" [detail]="false" [routerLink]="'data-tags'">
    <ion-label>Tags</ion-label>
    <ion-icon color="medium" name="chevron-forward"></ion-icon>
  </ion-item>
</ion-list>

<ion-list lines="none">
  <ion-item>
    <h3>Appearance</h3>
  </ion-item>
  <ion-item [button]="true">
    <ion-toggle (ionChange)="onToggleDarkMode($event)" [(ngModel)]="isDarkMode">
      <ion-label>Dark mode</ion-label>
    </ion-toggle>
  </ion-item>
</ion-list>

<ion-list lines="none">
  <ion-item>
    <h3>Notifications</h3>
  </ion-item>
  <ion-item [button]="true">
    <ion-toggle>
      <ion-label>Enable reminders</ion-label>
    </ion-toggle>
  </ion-item>
  <ion-item [button]="true">
    <ion-toggle>
      <ion-label>Urgent deadline alerts</ion-label>
    </ion-toggle>
  </ion-item>
</ion-list>

<ion-list lines="none">
  <ion-item>
    <h3>Notifications</h3>
  </ion-item>
  <ion-item [button]="true">
    <ion-toggle>
      <ion-label>Enable reminders</ion-label>
    </ion-toggle>
  </ion-item>
  <ion-item [button]="true">
    <ion-toggle>
      <ion-label>Urgent deadline alerts</ion-label>
    </ion-toggle>
  </ion-item>
</ion-list>

<ion-list lines="none">
  <ion-item>
    <h3>Notifications</h3>
  </ion-item>
  <ion-item [button]="true">
    <ion-toggle>
      <ion-label>Enable reminders</ion-label>
    </ion-toggle>
  </ion-item>
  <ion-item [button]="true">
    <ion-toggle>
      <ion-label>Urgent deadline alerts</ion-label>
    </ion-toggle>
  </ion-item>
</ion-list>
</ion-content>
