ion-title{
  font-size: 28px;
  transition: font-size 0.3s ease;
}

ion-title.condensate {
  font-size: 20px;
  font-weight: 600;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
}

.cancelSettings{
  --ripple-color: transparent;
}

ion-list{
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  border-radius: 4%;
  margin: 15px;
  padding: 20px;

}

h3{
  font-weight: 600;
}

ion-content{
  --background: #F7F6F3;
}
