<ion-header>
  <ion-toolbar>
    <ion-title>Inscription validée</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="success-icon">
      <ion-icon name="checkmark-outline"></ion-icon>
    </div>
    <ion-label id="signup-approved-title">Compte crée avec succés !</ion-label>
    <ion-label id="signup-approved-subtitle">Vous pouvez désormais accéder à votre compte.</ion-label>
    <ion-button id="validbtn" expand="block" class="validBtn" (click)="goToLogin()">Se connecter</ion-button>
  </div>
</ion-content>
