<ion-header class="settings-theme-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title [class.condensate]="isCondensate">{{ 'SETTINGS.SETTINGS' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="settings-theme-content" (ionScroll)="onScroll($event)" [scrollEvents]="true">
<ion-list lines="none">
  <ion-item>
    <h3>{{'SETTINGS.Data' | translate}}</h3>
  </ion-item>
  <ion-item [button]="true" [detail]="false" [routerLink]="'data-notes'">
    <ion-label>{{'SETTINGS.Tasks' | translate}}</ion-label>
    <ion-icon color="medium" name="chevron-forward"></ion-icon>
  </ion-item>
  <ion-item [button]="true" [detail]="false" [routerLink]="'data-tags'">
    <ion-label>{{'SETTINGS.Subjects' | translate}}</ion-label>
    <ion-icon color="medium" name="chevron-forward"></ion-icon>
  </ion-item>
</ion-list>

<ion-list lines="none">
  <ion-item>
    <h3>{{'SETTINGS.Appearance' | translate}}</h3>
  </ion-item>
  <ion-item [button]="true" [detail]="false">
    <ion-toggle (ionChange)="onToggle('darkMode',$event)" [checked]="this.settings.darkMode">
      <ion-label>{{ 'SETTINGS.DarkMode' | translate }}</ion-label>
    </ion-toggle>
  </ion-item>
</ion-list>

<ion-list lines="none">
  <ion-item>
    <h3>Notifications</h3>
  </ion-item>
  <ion-item [button]="true" [detail]="false">
    <ion-toggle (ionChange)="onToggle('taskReminders',$event)" [checked]="this.settings.taskReminders">
      <ion-label class="ion-text-wrap">{{ 'SETTINGS.TaskReminders' | translate }}</ion-label>
    </ion-toggle>
  </ion-item>
</ion-list>
  <ion-list lines="none">
    <ion-item>
      <h3>{{'SETTINGS.LANGUAGES' | translate}}</h3>
    </ion-item>
    <ion-item [detail]="false">
      <ion-label>{{'SETTINGS.LANGUAGES' | translate}}</ion-label>
      <ion-select (ionChange)="onLanguageChange($event)" interface="popover" [placeholder]="getCurrentLanguage">
        <ion-select-option *ngFor="let language of getAllLanguages" [value]="language">
          {{language}}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list lines="none">
    <ion-item [button]="true" [detail]="false" (click)="logOut()">
      <ion-icon slot="end" name="log-out-outline"></ion-icon>
      <ion-label>{{'SETTINGS.Logout' | translate}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
